$color: #ef5b70;

.single-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
  padding-top: 10px;
  border-top: 1px solid #eaeaea;
  img{
    width: 100%;
  }
}

@mixin title__h4($color) {
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: $color;
}

.wooman-colection {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -50px;
}

.wooman-colection__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #eaeaea;

  .wooman-colection__title {
    margin-top: 73px;
    @include title__h4($color);
  }

  .wooman-colection__title__border {
    margin-top: 14px;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    flex-direction: row;
    height: 3px;
    margin-bottom: 17px;

    div {
      width: 49px;
    }

    div:hover {
      border-bottom: 3px solid $color;
    }
  }

  .wooman-colection__title-big {
    font-size: 18px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4d4d4d;
    margin-bottom: 67px;
  }

  .wooman-colection__text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #5e5e5e;
    max-width: 618px;
    text-align: center;
  }

  .material-design {
    display: flex;
    max-width: 335px;
    justify-content: space-between;
    margin-top: 28px;
    margin-bottom: 37px;

    div {
      font-family: Lato;
      font-size: 14px;
      line-height: 24px;
      font-weight: 700;
      color: #b9b9b9;

      span {
        color: #2f2f2f;
      }
    }
  }

  &__price {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: $color;
  }

  &__border-bottom {
    max-width: 642px;
    border-bottom: 1px solid #eaeaea;
    margin-top: 43px;
    margin-bottom: 63px;
  }

  &__form {
    max-width: 540px;

    &__wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 28px;
      @media(max-width:500px){
        flex-direction: column;
      }

      h4 {
        @include title__h4(#2f2f2f);
        margin-bottom: 16px;
      }

      select {
        width: 144px;
        padding: 10px 14px;
      }

      input {
        width: 144px;
        padding: 9px 14px;
      }
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 55px;
      color: $color;
      background-color: #ffffff;
      border: 1px solid #ef5b70;
      margin-bottom: 125px;

      img {
        width: 26px;
        height: 24px;
        margin-right: 15px;
      }
    }
  }
}

.liked__title {
  text-align: center;
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
  margin-top: 119px;
  margin-bottom: 72px;
}

.liked__card-wrapper {
display: grid;
grid-column-gap: 32px;
grid-template-columns: repeat(4, 1fr);
grid-template-areas: "liked__card-wrapper__card1 liked__card-wrapper__card2 liked__card-wrapper__card3 liked__card-wrapper__card4";
  margin-bottom: 94px;
  @media(max-width:800px){
    grid-template-areas: 
    "liked__card-wrapper__card1 liked__card-wrapper__card1 liked__card-wrapper__card2 liked__card-wrapper__card2"
    "liked__card-wrapper__card3 liked__card-wrapper__card3 liked__card-wrapper__card4 liked__card-wrapper__card4"
    ;
  }
  @media(max-width:425px){
    grid-template-areas: 
    "liked__card-wrapper__card1 liked__card-wrapper__card1 liked__card-wrapper__card1 liked__card-wrapper__card1"
    "liked__card-wrapper__card2 liked__card-wrapper__card2 liked__card-wrapper__card2 liked__card-wrapper__card2"
    "liked__card-wrapper__card3 liked__card-wrapper__card3 liked__card-wrapper__card3 liked__card-wrapper__card3"
    "liked__card-wrapper__card4 liked__card-wrapper__card4 liked__card-wrapper__card4 liked__card-wrapper__card4"
    ;
    img{
      max-height: 277px;
    }
  }

  .liked__card {

    img {
      width: 100%;
      max-height: 280px;
      background-color: #e9e9e9;
    }
  }
}
.liked__card-wrapper__card1{
  grid-area: liked__card-wrapper__card1;
}
.liked__card-wrapper__card2 {
  grid-area: liked__card-wrapper__card2;
}
.liked__card-wrapper__card3 {
  grid-area: liked__card-wrapper__card3;
}
.liked__card-wrapper__card4 {
  grid-area: liked__card-wrapper__card4;
}
.liked__card__bottom {
  margin-left: 14px;
  margin-right: 14px;

  &__title {
    margin-top: 18px;
    margin-bottom: 17px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #6f6e6e;
  }

  &__price {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
  }
}
