@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("../styles/checkout.css");
@import url("product.css");
@import url("single-page.css");
@import url("preloader.css");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
    margin: auto;
  }
}

.header {
  height: 100px;
  border-bottom: 1px solid #ececec;
}

@media (max-width: 850px) {
  .header {
    height: 100%;
  }
}

.headerInside {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 850px) {
  .headerInside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .headerInside form {
    margin: 20px 0px;
  }
  .headerInside button {
    margin-bottom: 20px;
  }
}

.logo {
  width: 165px;
  line-height: 51px;
  background: url(../images/logo.png) no-repeat;
  font-size: 27px;
  font-weight: 300;
  padding-left: 60px;
}

.logo span {
  color: #f16d7f;
  font-weight: 400;
}

.searchWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  overflow: hidden;
}

.searchBrowse {
  height: inherit;
  padding: 12px;
  font-size: 14px;
  color: #222222;
  background-color: #f9f9f9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 1px solid #e6e6e6;
}

.searchBrowse i {
  margin-left: 8px;
}

@media (max-width: 335px) {
  .searchBrowse i {
    display: none;
  }
}

.searchWrap input {
  height: inherit;
  padding: 14px 159px 14px 14px;
  border: none;
  outline: none;
}

@media (max-width: 500px) {
  .searchWrap input {
    padding: 0;
  }
}

.searchWrap button {
  height: inherit;
  padding: 10px;
  border: 0;
  background: none;
  border-left: 1px solid #e6e6e6;
}

.headerCart {
  margin-left: auto;
  margin-right: 25px;
}

@media (max-width: 850px) {
  .headerCart {
    display: none;
  }
}

.accountBtn {
  padding: 15px;
  color: white;
  border: none;
  -webkit-animation-name: btn;
          animation-name: btn;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes btn {
  0% {
    background-color: #f16d7f;
  }
  25% {
    background-color: #751a26;
  }
  50% {
    background-color: #34074e;
  }
  75% {
    background-color: #751a26;
  }
  100% {
    background-color: #f16d7f;
  }
}

@keyframes btn {
  0% {
    background-color: #f16d7f;
  }
  25% {
    background-color: #751a26;
  }
  50% {
    background-color: #34074e;
  }
  75% {
    background-color: #751a26;
  }
  100% {
    background-color: #f16d7f;
  }
}

.navbar-toggler {
  width: 100%;
}

li {
  text-align: center;
}

li .nav-link {
  margin-right: 45px;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  color: #222222;
  height: 47px;
  border-bottom: 3px solid white;
  margin-top: 3px;
}

@media (max-width: 991px) {
  li .nav-link {
    margin-right: 0;
  }
}

li .nav-link:hover {
  border-bottom: 3px solid #f16d7f;
}

.topBannerWrap {
  height: 610px;
  background-color: #e8e8e8;
}

.topBannerContent {
  height: inherit;
  background: url(../images/topHeaderBack.png) no-repeat 554px 0;
  background-size: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 950px) {
  .topBannerContent {
    background: none;
  }
}

.topBannerSign {
  height: 92px;
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
}

.topBannerSign h1 {
  font-weight: 900;
  font-size: 60px;
  line-height: 41px;
}

.topBannerSign h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 32px;
  margin-top: 19px;
}

.topBannerSign h2 {
  color: #f16d7f;
}

.offers {
  margin-top: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "offer-1 offer-3"
 "offer-1 offer-4"
 "offer-2 offer-4";
  grid-gap: 20px;
  height: 829px;
}

@media (max-width: 768px) {
  .offers {
    height: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "offer-1"
 "offer-1"
 "offer-2"
 "offer-4"
 "offer-4"
 "offer-3";
  }
}

.offers img {
  height: 100%;
  width: 100%;
}

.offer-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: offer-1;
}

.offer-2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: offer-2;
}

.offer-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: offer-3;
}

.offer-4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: offer-4;
}

.offers > div {
  position: relative;
}

.offers .label {
  position: absolute;
  top: 25px;
  padding: 15px 20px;
  background: white;
  text-transform: uppercase;
}

.labelTop {
  font-size: 18px;
  color: #222222;
  font-weight: 700;
}

.labelBottom {
  font-size: 30px;
  color: #f16d7f;
  font-weight: 900;
}

.popular {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 113px;
}

.title__popular {
  font-size: 30px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #222222;
}

.text__popular {
  margin-top: 16px;
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
}

.popular__items__wrapper {
  margin-bottom: 80px;
}

.popular__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 60px;
  grid-column-gap: 30px;
  list-style-type: none;
      grid-template-areas: "popular__card-1 popular__card-2 popular__card-3 popular__card-4"
 "popular__card-5 popular__card-6 popular__card-7 popular__card-8";
}

@media (max-width: 768px) {
  .popular__items {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "popular__card-1 popular__card-2"
 "popular__card-3 popular__card-4"
 "popular__card-5 popular__card-6"
 "popular__card-7 popular__card-8";
  }
}

@media (max-width: 500px) {
  .popular__items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "popular__card-1"
 "popular__card-2"
 "popular__card-3"
 "popular__card-4"
 "popular__card-5"
 "popular__card-6"
 "popular__card-7"
 "popular__card-8";
  }
}

.popular__items:first-child {
  margin-bottom: 60px;
}

.popular__card-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: popular__card-1;
}

.popular__card-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: popular__card-2;
}

.popular__card-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: popular__card-3;
}

.popular__card-4 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: popular__card-4;
}

.popular__card-5 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: popular__card-5;
}

.popular__card-6 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: popular__card-6;
}

.popular__card-7 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: popular__card-7;
}

.popular__card-8 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: popular__card-8;
}

.title__popular__item {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin-top: 19px;
  margin-bottom: 17px;
  padding: 0 10px;
}

.price__popular__item {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
}

.popular__card {
  position: relative;
  width: 100%;
}

.popular__card img {
  width: inherit;
  height: auto;
}

.popular__card:hover .popular__hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular__hover {
  width: inherit;
  height: 280px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(58, 56, 56, 0.83);
  display: none;
}

.popular__hover img {
  width: 23px;
  height: 22px;
}

.popular__hover div {
  background: none;
  width: 123px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 12px;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  border: 1px solid white;
}

.button__popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 212px;
  height: 48px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  text-decoration: none;
  -webkit-animation-name: btn;
          animation-name: btn;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.button__popular img {
  margin-left: 9px;
}

.sale {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

@media (max-width: 875px) {
  .sale {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 2fr 1fr;
        grid-template-rows: 2fr 1fr;
  }
}

@media (max-width: 625px) {
  .sale {
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

.sale__offer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/background_sale.png);
  padding-top: 145px;
  padding-left: 39px;
  height: inherit;
}

.sale__offer__title {
  font-size: 53.7px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.sale__offer__title span {
  color: #f16d7f;
}

.sale__offer__small-title {
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  font-size: 32.2px;
}

.sale__advantages {
  background-color: #222224;
  padding-top: 48px;
  padding-left: 36px;
  padding-right: 43px;
  height: 529px;
}

@media (max-width: 875px) {
  .sale__advantages {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    grid-column-gap: 30px;
    padding: 10px 10px;
  }
}

@media (max-width: 625px) {
  .sale__advantages {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.advantages__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: calc(100% / 3);
}

@media (max-width: 875px) {
  .advantages__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 3fr;
        grid-template-rows: 1fr 3fr;
    height: auto;
  }
  .advantages__wrapper .advantages__wrapper__about {
    display: -ms-grid;
    display: grid;
  }
  .advantages__wrapper img {
    margin: 0 auto;
  }
  .advantages__wrapper .advantages__wrapper__about {
    text-align: center;
  }
}

.advantages__wrapper img {
  height: 40px;
}

.sale__advantages__title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}

.sale__advantages__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fbfbfb;
  margin-bottom: 55px;
  margin-top: 17px;
}

@media (max-width: 875px) {
  .sale__advantages__text {
    margin: 0;
  }
}

.subscribe {
  height: 438px;
  background: url(../images/baclground-subscribe.jpg) no-repeat;
  background-size: cover;
}

@media (max-width: 904px) {
  .subscribe {
    height: auto;
  }
}

.subscribe__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
}

@media (max-width: 904px) {
  .subscribe__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.subscribe__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 111px;
  width: 569px;
  border-right: 1px solid #ffffff;
}

@media (max-width: 904px) {
  .subscribe__left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
    width: auto;
  }
}

@media (max-width: 530px) {
  .subscribe__left {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .subscribe__left img {
    margin-bottom: 20px;
  }
}

.subscribe__left__text {
  margin-left: 28px;
}

@media (max-width: 530px) {
  .subscribe__left__text {
    margin: 0;
  }
}

.subscribe__left img {
  height: 83px;
}

.subscribe__left__review {
  width: 386px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222224;
}

@media (max-width: 530px) {
  .subscribe__left__review {
    width: auto;
  }
}

.subscribe__left__name {
  font-size: 16px;
  line-height: 15px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
  margin-top: 19px;
}

.subscribe__left__name span {
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: #222224;
}

.subscribe__left__border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 41px;
}

@media (max-width: 530px) {
  .subscribe__left__border {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.subscribe__left__border div {
  width: 38px;
  border-bottom: 4px solid #d6d6d6;
  margin-right: 13px;
}

.subscribe__left__border div:hover {
  border-bottom: 4px solid #f16d7f;
}

.subscribe__right {
  margin-top: 148px;
  text-align: CENTER;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (max-width: 904px) {
  .subscribe__right {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.subscribe__right__title {
  font-size: 24px;
  line-height: 54px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222224;
}

@media (max-width: 904px) {
  .subscribe__right__title {
    color: white;
  }
}

.subscribe__right__text {
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
}

@media (max-width: 904px) {
  .subscribe__right__text {
    color: white;
  }
}

.subscribe__right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__right input {
  outline: none;
  width: 282px;
  padding-left: 28px;
  height: 46px;
  background-color: #e1e1e1;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
  border: none;
}

@media (max-width: 885px) {
  .subscribe__right input {
    width: 180px;
  }
}

.subscribe__right button {
  -webkit-animation-name: btn;
          animation-name: btn;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  border-radius: 0px 23px 23px 0px;
  height: 46px;
  padding: 0 20px;
  border: none;
  outline: none;
}

footer {
  margin-top: 109px;
  margin-bottom: 89px;
}

@media (max-width: 926px) {
  footer {
    margin-top: 20px;
  }
}

.footer__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr 1fr 1fr;
      grid-template-columns: 3fr 1fr 1fr 1fr;
      grid-template-areas: "footer__brand footer__company footer__information footer__category";
  grid-column-gap: 30px;
}

@media (max-width: 926px) {
  .footer__wrapper {
    grid-row-gap: 40px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "footer__brand footer__brand footer__brand"
 "footer__information footer__company footer__category";
  }
  .footer__wrapper .footer__logo {
    margin: 0 auto;
    padding-bottom: 20px;
  }
}

@media (max-width: 425px) {
  .footer__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "footer__brand"
 "footer__company"
 "footer__information"
 "footer__category";
  }
}

.footer__brand {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: footer__brand;
  width: 427px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 950px) {
  .footer__brand {
    width: auto;
  }
}

.footer__brand__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
}

.footer__company {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: footer__company;
}

@media (max-width: 926px) {
  .footer__company {
    text-align: center;
  }
}

@media (max-width: 640px) {
  .footer__company {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.footer__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
  margin-bottom: 45px;
  text-align: center;
}

.footer__list {
  height: 179px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__link {
  font-family: Lato sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
}

.footer__information {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: footer__information;
}

@media (max-width: 926px) {
  .footer__information {
    text-align: center;
  }
}

@media (max-width: 640px) {
  .footer__information {
    margin: 0;
    margin-bottom: 20px;
  }
}

.new-arrivals {
  height: 148px;
  background-color: #f8f3f4;
}

.new-arrivals__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

@media (max-width: 420px) {
  .new-arrivals__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.new-arrivals__titile {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
}

.new-arrivals__link__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new-arrivals__link__wrapper a {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
}

.new-arrivals__link__wrapper a:last-child {
  font-weight: 700;
  color: #f16d7f;
}

.copyrights {
  height: 80px;
  background: #e6e6e6;
}

.copyrightsWrap {
  margin-top: 100px;
  color: #7a7a7a;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyrights__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyrights__right a {
  text-decoration: none;
  color: inherit;
}

.copyrights__right i {
  width: 32px;
  height: 32px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.copyrights__right i:hover {
  color: white;
  background: #f16d7f;
}

.footer__category {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: footer__category;
}

@media (max-width: 926px) {
  .footer__category {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */